.terms-conditions,
.terms-conditions * {
  box-sizing: border-box;
}
.terms-conditions {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.navbar-1 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 1px 0px;
  padding: 0px 64px 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  height: 72px;
  position: relative;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 63px;
  height: 27px;
  position: relative;
  overflow: visible;
}
.column {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.column2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.link-one {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.link-two {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.link-three {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.nav-link-dropdown {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link-four {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.chevron-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.style-secondary-small-true-dark-mode-false-icon-position-no-icon {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 20px 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.style-primary-small-true-dark-mode-false-icon-position-no-icon {
  background: var(--black, #000000);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 8px 20px 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.content-27 {
  background: var(--white, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.column3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  position: relative;
}
.heading {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h5-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h5-font-size, 24px);
  line-height: var(--heading-h5-line-height, 140%);
  font-weight: var(--heading-h5-font-weight, 700);
  position: relative;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  background: var(--light-grey, #f4f4f4);
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--text-medium-bold-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--text-medium-bold-font-size, 18px);
  line-height: var(--text-medium-bold-line-height, 150%);
  font-weight: var(--text-medium-bold-font-weight, 700);
  position: relative;
}
.button4 {
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
}
.button5 {
  padding: 12px 48px 12px 48px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
}
.button6 {
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-5 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
}
.button7 {
  padding: 12px 80px 12px 80px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-6 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
}
.rich-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
}
.content4 {
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h2-font-size, 48px);
  line-height: var(--heading-h2-line-height, 120%);
  font-weight: var(--heading-h2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.paragraph {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--text-regular-bold-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--text-regular-bold-font-size, 16px);
  line-height: var(--text-regular-bold-line-height, 150%);
  font-weight: var(--text-regular-bold-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.paragraph2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.content5 {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h3-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h3-font-size, 40px);
  line-height: var(--heading-h3-line-height, 120%);
  font-weight: var(--heading-h3-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.content6 {
  padding: 24px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h4-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h4-font-size, 32px);
  line-height: var(--heading-h4-line-height, 130%);
  font-weight: var(--heading-h4-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.content7 {
  padding: 48px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.placeholder-image {
  align-self: stretch;
  flex-shrink: 0;
  height: 480px;
  position: relative;
  object-fit: cover;
}
.caption-figure {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-3 {
  background: var(--black, #000000);
  align-self: stretch;
  flex-shrink: 0;
  width: 2px;
  position: relative;
}
.image-caption-goes-here {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-small-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-small-normal-font-size, 14px);
  line-height: var(--text-small-normal-line-height, 150%);
  font-weight: var(--text-small-normal-font-weight, 400);
  position: relative;
  flex: 1;
}
.content8 {
  padding: 20px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-52 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h5-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h5-font-size, 24px);
  line-height: var(--heading-h5-line-height, 140%);
  font-weight: var(--heading-h5-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.content9 {
  padding: 36px 0px 36px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.figure {
  background: rgba(255, 255, 255, 0);
  padding: 0px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.divider {
  background: var(--black, #000000);
  align-self: stretch;
  flex-shrink: 0;
  width: 2px;
  position: relative;
}
.quote {
  color: var(--black, #000000);
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-style: italic;
  position: relative;
  flex: 1;
}
.heading-62 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--heading-h6-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-h6-font-size, 20px);
  line-height: var(--heading-h6-line-height, 140%);
  font-weight: var(--heading-h6-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.footer-4 {
  background: var(--white, #ffffff);
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.content10 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.logo3 {
  flex-shrink: 0;
  width: 63px;
  height: 27px;
  position: relative;
  overflow: visible;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-one2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.link-two2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.link-three2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.link-four2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.link-five {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.icon-facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-x {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-linked-in {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-youtube {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider2 {
  background: var(--black, #000000);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._2023-relume-all-rights-reserved {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-small-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-small-normal-font-size, 14px);
  line-height: var(--text-small-normal-line-height, 150%);
  font-weight: var(--text-small-normal-font-weight, 400);
  position: relative;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.terms-of-service {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.cookies-settings {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
