<div class="navbar">
    <div class="container">
      <div class="content">
        <img class="logo" src="assets/Nuevo-Logo-AT-02.jpg" alt="Nuevo Logo" />
      </div>
      <div class="links">
        <div class="link" onclick="redirectToAboutUs()">Nosotros</div>
        <div class="link" onclick="redirectToServices()">Servicios</div>
        <div class="link" onclick="redirectToContactUs()">Contacto</div>
        <div class="dropdown">
          <div class="link" onclick="toggleDropdown()">Saber más</div>
          <div class="dropdown-content">
            <a href="/services">Servicios</a>
            <div class="submenu">
              <a href="#">Personales</a>
              <a href="#">Empresas</a>
            </div>
            <a href="/plans">Planes</a>
            <div class="submenu">
              <a href="#">Personales</a>
              <a href="#">Empresas</a>
              <a href="#">Mantenimiento</a>
            </div>
            <a href="/tracking">Seguimiento</a>
            <a href="/testimonials">Testimonios</a>
            <a href="/terms">Términos y Condiciones</a>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="button" onclick="redirectToRegistration()">Regístrese</div>
        <div class="button inverted">Saber más</div>
      </div>
    </div>
  </div>
  