<div class="services">
    
    <div class="header-44">
      <div class="container2">
        <div class="section-title">
          <div class="tagline">Experiencia</div>
          <div class="content2">
            <div class="short-heading-here">
              Servicios de Reparación y Mantenimiento
            </div>
            <div
              class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique"
            >
              Ofreciendo reparación y mantenimiento de equipos tecnológicos de
              primera calidad para individuos y negocios.
            </div>
          </div>
        </div>
        <div class="actions2">
          <div
            class="style-primary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button2">Aprender más</div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button">Regístrese</div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-6">
      <div class="container3">
        <div class="content3">
          <div class="content2">
            <div class="heading">
              Descubre nuestros servicios de reparación de alta calidad y nuestros
              técnicos expertos
            </div>
            <div class="text">
              En ATSAC, ofrecemos una amplia gama de servicios de reparación,
              utilizando solo las mejores piezas y técnicos capacitados. Ya sea
              que necesite ayuda con su equipo técnico en casa o en su negocio,
              nosotros lo tenemos cubierto.
            </div>
          </div>
          <div class="list">
            <div class="list-item">
              <div class="subheading-one">Calidad</div>
              <div class="text2">
                Nos enorgullecemos de ofrecer servicios de reparación de alta
                calidad utilizando piezas de alta calidad y técnicos expertos.
              </div>
            </div>
            <div class="list-item">
              <div class="subheading-two">Fiabilidad</div>
              <div class="text2">
                Cuenta con nosotros para servicios de reparación confiables que
                garanticen el rendimiento óptimo de tu equipo tecnológico.
              </div>
            </div>
          </div>
        </div>
        <img class="placeholder-image" src="assets/services/placeholder-image0.png" />
      </div>
    </div>
    <div class="layout-4">
      <div class="container3">
        <div class="content4">
          <div class="content5">
            <div class="section-title">
              <div class="subheading">Specialization</div>
              <div class="content2">
                <div class="heading2">
                  Servicios de mantenimiento especializados para equipos
                  tecnológicos
                </div>
                <div class="text">
                  El mantenimiento regular es esencial para el rendimiento óptimo
                  y la longevidad de su equipo tecnológico. Nuestros servicios de
                  mantenimiento especializados garantizan que sus dispositivos
                  siempre estén en óptimas condiciones, minimizando el tiempo de
                  inactividad y maximizando la productividad.
                </div>
              </div>
            </div>
            <div class="list">
              <div class="list-item">
                <div class="subheading-one">Beneficios</div>
                <div class="text2">
                  Aumenta la vida útil de tus equipos tecnológicos con nuestros
                  planes de mantenimiento completos.
                </div>
              </div>
              <div class="list-item">
                <div class="subheading-two">Adaptado</div>
                <div class="text2">
                  Ofrecemos planes de mantenimiento personalizados para satisfacer
                  las necesidades únicas de su negocio.
                </div>
              </div>
            </div>
          </div>
          <div class="actions3">
            <div
              class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
            >
              <div class="button">Aprender más</div>
            </div>
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Regístrate</div>
             
            </div>
          </div>
        </div>
        <img class="placeholder-image" src="assets/services/placeholder-image1.png" />
      </div>
    </div>
    <div class="layout-249">
      <div class="section-title2">
        <div class="subheading">Objetivo: en español</div>
        <div class="content2">
          <div class="heading2">Cómo Obtener Nuestros Servicios</div>
          <div class="text">
            Sigue estos pasos para acceder fácilmente a nuestros servicios de
            reparación y mantenimiento. Desde la consulta inicial hasta la
            finalización del trabajo, nos aseguramos de brindar una experiencia
            sin complicaciones.
          </div>
        </div>
      </div>
      <div class="content6">
        <div class="row">
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image2.png" />
            <div class="content2">
              <div class="heading3">Paso 1: Consulta</div>
              <div class="text2">
                Contáctenos para hablar sobre sus necesidades de reparación o
                mantenimiento de equipos tecnológicos.
              </div>
            </div>
          </div>
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image3.png" />
            <div class="content2">
              <div class="heading3">Paso 2: Evaluación</div>
              <div class="text2">
                Nuestros expertos evaluarán la condición de su equipo y
                proporcionarán una evaluación detallada.
              </div>
            </div>
          </div>
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image4.png" />
            <div class="content2">
              <div class="heading3">Paso 3: Rep/Mantención</div>
              <div class="text2">
                Realizaremos las reparaciones o mantenimiento necesarios de
                acuerdo a sus requisitos específicos.
              </div>
            </div>
          </div>
        </div>
        <div class="actions3">
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button">Aprende más</div>
          </div>
          <div
            class="style-link-small-false-dark-mode-false-icon-position-trailing"
          >
            <div class="button">Regístrese Ahora</div>
           
          </div>
        </div>
      </div>
    </div>
    <div class="layout-251">
      <div class="section-title3">
        <div class="column4">
          <div class="subheading2">Descubrir</div>
          <div class="heading2">
            Servicios adicionales para satisfacer sus necesidades
          </div>
        </div>
        <div class="text3">
          En ATSAC, ofrecemos una variedad de servicios adicionales para mejorar
          su experiencia. Ya sea que necesite reparaciones en el lugar, servicios
          de emergencia o asistencia remota para solucionar problemas, nuestro
          equipo está aquí para ayudarle. Entendemos la importancia de un soporte
          rápido y confiable, y nuestros técnicos están capacitados para manejar
          cualquier situación de manera eficiente.
        </div>
      </div>
      <div class="content6">
        <div class="row">
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image5.png" />
            <div class="content2">
              <div class="heading3">Reparaciones en el lugar</div>
              <div
                class="text-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla"
              >
                Nuestros técnicos especializados pueden visitar su ubicación para
                diagnosticar y solucionar cualquier problema con su equipo
                tecnológico.
              </div>
            </div>
          </div>
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image6.png" />
            <div class="content2">
              <div class="heading3">Servicios de Emergencia</div>
              <div
                class="text-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla"
              >
                Ofrecemos servicios de emergencia 24/7 para asegurarnos de que su
                equipo tecnológico esté funcionando cuando más lo necesite.
              </div>
            </div>
          </div>
          <div class="column3">
            <img class="placeholder-image2" src="assets/services/placeholder-image7.png" />
            <div class="content2">
              <div class="heading3">Asistencia: Problemas a distancia</div>
              <div
                class="text-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla"
              >
                Nuestros servicios de resolución de problemas remotos nos permiten
                resolver los problemas de forma rápida y eficiente, ahorrándote
                tiempo y molestias.
              </div>
            </div>
          </div>
        </div>
        <div class="actions3">
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button">Aprender más</div>
          </div>
          <div
            class="style-link-small-false-dark-mode-false-icon-position-trailing"
          >
            <div class="button">Registrarse</div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="layout-241">
      <div class="section-title2">
        <div class="subheading">Descubrir</div>
        <div class="content2">
          <div class="heading2">Nuestra amplia gama de servicios</div>
          <div class="text">
            ATSAC offers a comprehensive list of services designed to meet your
            tech equipment repair and maintenance needs. From troubleshooting to
            regular maintenance, we have you covered.
          </div>
        </div>
      </div>
      <div class="content6">
        <div class="row">
          <div class="column5">
           
            <div class="heading3">Reparación de Equipos Tecnológicos</div>
            <div class="text2">
              Nuestro equipo de técnicos expertos tiene experiencia en la
              reparación de una amplia gama de equipos tecnológicos, garantizando
              soluciones eficientes y confiables.
            </div>
          </div>
          <div class="column5">
            
            <div class="heading3">Scheduled Maintenance Plans</div>
            <div class="text2">
              Elige entre nuestros planes de mantenimiento personalizados para
              mantener tu equipo técnico en óptimas condiciones y minimizar el
              tiempo de inactividad.
            </div>
          </div>
          <div class="column5">
          
            <div class="heading3">Seguimiento de Servicio en Tiempo Real</div>
            <div class="text2">
              Manténgase actualizado sobre el progreso de su solicitud de servicio
              con nuestro sistema de seguimiento en tiempo real fácil de usar.
            </div>
          </div>
        </div>
        <div class="actions3">
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button">Aprende más</div>
          </div>
          <div
            class="style-link-small-false-dark-mode-false-icon-position-trailing"
          >
            <div class="button">Regístrese</div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="team-2">
      <div class="section-title4">
        <div class="subheading">Experiencia</div>
        <div class="content7">
          <div class="heading4">Nuestro equipo</div>
          <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
            Conozca a nuestros técnicos expertos y representantes de servicio al
            cliente.
          </div>
        </div>
      </div>
      <div class="content8">
        <div class="content9">
          <div class="row2">
            <div class="card">
              <img class="placeholder-image-1" src="assets/services/placeholder-image-10.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">John Doe</div>
                  <div class="job-title">Technician</div>
                </div>
                <div class="text4">
                  John is a highly skilled technician with expertise in tech
                  equipment repair.
                </div>
              </div>
              <div class="social-icons">
               
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-2" src="assets/services/placeholder-image-20.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">Jane Smith</div>
                  <div class="job-title">Customer Service Representative</div>
                </div>
                <div
                  class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique2"
                >
                  Jane ensures top-notch service delivery and provides excellent
                  customer support.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-3" src="assets/services/placeholder-image-30.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">Michael Johnson</div>
                  <div class="job-title">Technician</div>
                </div>
                <div class="text4">
                  Michael has extensive experience in tech equipment maintenance
                  and repair.
                </div>
              </div>
              <div class="social-icons">
               
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-4" src="assets/services/placeholder-image-40.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">Emily Davis</div>
                  <div class="job-title">Customer Service Representative</div>
                </div>
                <div class="text4">
                  Emily is dedicated to providing exceptional customer service and
                  resolving issues.
                </div>
              </div>
              <div class="social-icons">
               
              </div>
            </div>
          </div>
          <div class="row2">
            <div class="card">
              <img class="placeholder-image-5" src="assets/services/placeholder-image-50.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">David Wilson</div>
                  <div class="job-title">Technician</div>
                </div>
                <div class="text4">
                  David specializes in diagnosing and repairing complex tech
                  equipment problems.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-6" src="assets/services/placeholder-image-60.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">Sarah Thompson</div>
                  <div class="job-title">Customer Service Representative</div>
                </div>
                <div
                  class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique2"
                >
                  Sarah is committed to ensuring customer satisfaction and
                  providing timely assistance.
                </div>
              </div>
              <div class="social-icons">
               
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-7" src="assets/services/placeholder-image-70.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">We&#039;re hiring!</div>
                  <div class="job-title">
                    Join our team of skilled technicians and customer service
                    representatives.
                  </div>
                </div>
                <div class="text4">Open positions</div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image-8" src="assets/services/placeholder-image-80.png" />
              <div class="content10">
                <div class="title">
                  <div class="name">Full name</div>
                  <div class="job-title">Job title</div>
                </div>
                <div class="text4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
          </div>
        </div>
        <div class="content11">
          <div class="content12">
            <div class="heading5">¡Estamos contratando!</div>
            <div class="text5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-14">
      <div class="content13">
        <div class="placeholder-lightbox">
          
        </div>
        <div class="content14">
         
          <div class="quote">
            Los servicios de ATSAC han sido un cambio radical para nuestro
            negocio. Su experiencia y tiempo de respuesta rápido nos han ahorrado
            incontables horas y dinero.
          </div>
          <div class="avatar">
            <div class="avatar-content">
              <div class="text6">John Doe</div>
              <div class="text7">CEO, XYZ Company</div>
            </div>
            <div class="divider"></div>
            
          </div>
        </div>
      </div>
    </div>
    <div
      class="cta-27"
      style="
        background: url(cta-270.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="content15">
        <div class="content7">
          <div class="heading6">
            Servicios de Reparación de Equipos Tecnológicos Expertos
          </div>
          <div class="text8">
            Schedule a service appointment or learn more about our specialized
            repair services.
          </div>
        </div>
        <div class="actions2">
          <div
            class="style-primary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button2">Horario</div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-true-icon-position-no-icon"
          >
            <div class="button2">Aprender</div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-9">
      <div class="section-title5">
        <div class="fa-qs">Preguntas frecuentes</div>
        <div class="text">
          Frequently asked questions ordered by popularity. Remember that if the
          visitor has not committed to the call to action, they may still have
          questions (doubts) that can be answered.
        </div>
      </div>
      <div class="content6">
        <div class="row3">
          <div class="divider2"></div>
          <div class="content16">
            <div class="question">¿Cómo puedo hacer una reserva?</div>
            <div class="text3">
              Reservar nuestros servicios es rápido y sencillo. Simplemente visita
              nuestro sitio web, elige el servicio que necesitas, selecciona un
              horario conveniente y proporciona los detalles necesarios. Recibirás
              un correo electrónico de confirmación una vez que se confirme tu
              reserva.
            </div>
          </div>
        </div>
        <div class="row3">
          <div class="divider2"></div>
          <div class="content16">
            <div class="question">¿Qué servicios ofrecen?</div>
            <div class="text3">
              Ofrecemos una amplia gama de servicios de reparación y mantenimiento
              de equipos tecnológicos, incluyendo reparaciones de computadoras,
              reparaciones de teléfonos inteligentes, solución de problemas de
              redes y más. Visite nuestra página de servicios para ver la lista
              completa.
            </div>
          </div>
        </div>
        <div class="row3">
          <div class="divider2"></div>
          <div class="content16">
            <div class="question">¿Cuál es su garantía de servicio?</div>
            <div class="text3">
              Nos enorgullecemos de la calidad de nuestros servicios y ofrecemos
              una garantía de satisfacción. Si no está satisfecho con nuestro
              servicio, por favor contáctenos dentro de las 48 horas y lo
              solucionaremos.
            </div>
          </div>
        </div>
        <div class="row3">
          <div class="divider2"></div>
          <div class="content16">
            <div class="question">¿Cómo puedo obtener ayuda?</div>
            <div class="text3">
              Si necesitas ayuda o tienes preguntas, nuestro equipo de soporte
              está disponible las 24 horas, los 7 días de la semana. Puedes
              contactarnos a través de nuestro formulario de contacto, correo
              electrónico o teléfono.
            </div>
          </div>
        </div>
      </div>
      <div class="content17">
        <div class="content10">
          <div class="heading3">¿Necesitas más aclaraciones?</div>
          <div class="text">Contáctenos para obtener más ayuda.</div>
        </div>
        <div
          class="style-secondary-small-false-dark-mode-false-icon-position-no-icon3"
        >
          <div class="button">Button</div>
        </div>
      </div>
    </div>
    <div class="contact-16">
      <div class="content18">
        <div class="section-title6">
          <div class="subheading">Fácilmente accesible</div>
          <div class="content2">
            <div class="heading2">Ponte en contacto</div>
            <div class="text">
              ¿Tienes alguna pregunta o necesitas ayuda? Contacta a nuestro equipo
              de servicio.
            </div>
          </div>
        </div>
        <div class="row4">
          <div class="content19">
           
            <div class="contact-info">
              <div class="heading7">Correo electrónico</div>
              <div class="link">support&#64;atsac.com</div>
            </div>
          </div>
          <div class="content19">
            
            <div class="contact-info">
              <div class="heading7">Teléfono</div>
              <div class="link">+51 (123) 456-7890</div>
            </div>
          </div>
          <div class="content19">
            
            <div class="contact-info">
              <div class="heading7">Oficina</div>
              <div class="text2">123 Calle Principal, Lima, Perú</div>
            </div>
          </div>
        </div>
      </div>
      <img class="placeholder-image3" src="assets/services/placeholder-image8.png" />
    </div>
    <div class="footer-4">
      <div class="content20">
        <div class="logo3">
         
        </div>
        <div class="links">
          <div class="link-one2">Enlace Uno</div>
          <div class="link-two2">Enlace Dos</div>
          <div class="link-three2">Vínculo Tres</div>
          <div class="link-four2">Conexión Cuatro</div>
          <div class="link-five">Vincular Cinco</div>
        </div>
        <div class="social-links">
          
        </div>
      </div>
      <div class="credits">
        <div class="divider2"></div>
        <div class="row5">
          <div class="_2023-relume-all-rights-reserved">
            © 2024 Carlos Cid. Todos los derechos reservados.
          </div>
          <div class="footer-links">
            <div class="privacy-policy">Política de privacidad</div>
            <div class="terms-of-service">Términos de servicio</div>
            <div class="cookies-settings">Configuración de Cookies</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  