
<div class="home">
  
    <div class="hero">
      <div class="column3">
        <div class="content2">
          <div class="title">
            Reparación y Mantenimiento de Equipos Tecnológicos
          </div>
          <div class="description">
            Bienvenido a ATSAC, su socio de confianza para todas sus necesidades de reparación y mantenimiento de equipos tecnológicos en Perú. Con nuestro equipo de técnicos expertos y nuestras instalaciones de vanguardia, brindamos servicios de primera clase a empresas y particulares, asegurando que sus dispositivos funcionen sin problemas.
          </div>
        </div>
        <div class="actions2">
          <div class="style-primary">
            <div class="button">Saber más</div>
          </div>
          <div class="style-secondary">
            <div class="button">Regístrese</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="layout-201">
      <div class="container2">
        <img class="image" src="assets/home/placeholder2.jpg" alt="Placeholder Image">
        <div class="content">
          <div class="section-title">
            <div class="heading2">Optimice el Proceso para Reparar su Equipo Tecnológico</div>
            <div class="text">Contamos con un sistema de registro amigable para nuevos y antiguos clientes que buscan servicios confiables de reparación de equipos tecnológicos. Regístrese hoy y experimente reparaciones sin complicaciones con seguimiento de servicio en tiempo real.</div>
          </div>
          <div class="list">
            <div class="list-item">
              <div class="heading2">Para Individuos</div>
              <div class="list-text">Elige entre nuestra variedad de planes de mantenimiento diseñados para satisfacer tus necesidades personales.</div>
            </div>
            <div class="list-item">
              <div class="heading2">Para Empresas</div>
              <div class="list-text">Descubre nuestros planes de mantenimiento personalizados para empresas, asegurando un rendimiento eficiente del equipo.</div>
            </div>
          </div>
          <div class="actions">
            <div class="button">Más Información</div>
            <div class="button">Registrarse</div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="layout-18">
      <div class="container2">
        <div class="content5">
          <div class="content2">
            <div class="heading3">
              Supervise el estado de su servicio en tiempo real con ATSAC
            </div>
            <div class="text">
              Con nuestra interfaz fácil de usar, puedes realizar un seguimiento
              fácilmente del progreso de tu servicio y mantenerte informado en
              cada paso del camino.
            </div>
          </div>
          <div class="list2">
            <div class="list-item2">
              
              <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
                Actualizaciones Transparentes del Servicio
              </div>
            </div>
            <div class="list-item2">
             
              <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
                Monitoreo del progreso sin esfuerzo
              </div>
            </div>
            <div class="list-item2">
             
              <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
                Manténgase informado en cada etapa
              </div>
            </div>
          </div>
        </div>
        <img class="placeholder-image" src="assets/placeholder-image1.png" />
      </div>
    </div>
    <div class="layout-246">
      <div class="section-title2">
        <div class="column4">
          <div class="heading3">
            Planes de mantenimiento personalizados para su equipo técnico
          </div>
        </div>
        <div class="column5">
          <div
            class="text-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla"
          >
            En ATSAC, entendemos la importancia de mantener en óptimas condiciones
            tu equipo tecnológico. Por eso, ofrecemos planes de mantenimiento
            personalizados diseñados para satisfacer tus necesidades específicas.
            Nuestros técnicos expertos se encargarán de garantizar que tu equipo
            funcione a la perfección, minimizando el tiempo de inactividad y
            maximizando la productividad. Con una tarificación transparente y
            seguimiento del servicio en tiempo real, puedes confiar en nosotros
            para proporcionarte una experiencia de mantenimiento fluida y
            transparente.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="list-item3">
         
          <div class="heading4">
            Precios transparentes para un mantenimiento sin complicaciones
          </div>
          <div class="text2">
            Creemos en la transparencia, por eso ofrecemos precios upfront para
            todos nuestros servicios de mantenimiento. Sin tarifas ocultas ni
            sorpresas, solo precios claros y honestos en los que puedes confiar.
          </div>
          <div class="action">
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Learn More</div>
           
            </div>
          </div>
        </div>
        <div class="list-item3">
          
          <div class="heading4">
            Técnicos expertos para reparaciones confiables
          </div>
          <div class="text2">
            Nuestro equipo de técnicos expertos tiene una gran habilidad y
            experiencia en la reparación de una amplia gama de equipos
            tecnológicos. Puedes confiar en nosotros para realizar reparaciones
            fiables y eficientes, asegurando que tu equipo vuelva a funcionar en
            poco tiempo.
          </div>
          <div class="action">
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Learn More</div>
             
            </div>
          </div>
        </div>
        <div class="list-item3">
          
          <div class="heading4">
            Planes de Mantenimiento Personalizados para Empresas
          </div>
          <div class="text2">
            Para las empresas, ofrecemos planes de mantenimiento personalizados
            adaptados a sus requisitos específicos. Ya sea que tenga una pequeña
            oficina o una gran empresa, nuestros planes pueden ser personalizados
            para satisfacer sus necesidades y presupuesto únicos.
          </div>
          <div class="action">
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Learn More</div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-3">
      <div class="container2">
        <div class="content3">
          <div class="heading3">
            Soluciones de mantenimiento tecnológico personalizadas y rentables
            para clientes individuales
          </div>
          <div class="text">
            Nuestros planes de mantenimiento están diseñados para satisfacer las
            necesidades únicas de cada cliente, brindándoles servicios de
            reparación y mantenimiento técnico asequibles y eficientes. Con
            nuestra experiencia, puedes garantizar que tus dispositivos siempre
            estén en óptimas condiciones.
          </div>
        </div>
        <img class="placeholder-image" src="assets/placeholder-image2.png" />
      </div>
    </div>
    <div class="layout-24">
      <div class="container2">
        <div class="content3">
         
          <div class="content2">
            <div class="heading3">
              Planes de mantenimiento integrales y soporte dedicado para
              operaciones sin problemas
            </div>
            <div class="text">
              Nuestros planes de mantenimiento están diseñados para satisfacer las
              necesidades únicas de las empresas, brindando cobertura integral y
              soporte dedicado. Con nuestro equipo de expertos, puedes asegurar
              operaciones fluidas y minimizar el tiempo de inactividad.
            </div>
          </div>
        </div>
        <img class="placeholder-image" src="assets/placeholder-image3.png" />
      </div>
    </div>
    <div class="pricing-16">
      <div class="content6">
        <div class="section-title3">
          <div class="subheading2">Económico</div>
          <div class="content7">
            <div class="heading5">Planes de Mantenimiento</div>
            <div class="text3">
              Elige el plan que se ajuste a tus necesidades y presupuesto.
            </div>
          </div>
        </div>
        <div class="tabs">
          <div class="button3">
            <div class="monthly">Mensual</div>
          </div>
          <div class="button4">
            <div class="yearly">Anual</div>
          </div>
        </div>
      </div>
      <div class="content8">
        <div class="content9">
          <div class="price-title">
            <div class="heading6">Plan Básico</div>
            <div class="lorem-ipsum-dolor-sit-amet">
              Perfect for individuals and small businesses
            </div>
          </div>
          <div class="divider"></div>
          <div class="content10">
            <div class="container3">
              <div class="price">$19/men</div>
              <div class="price2"></div>
            </div>
            <div
              class="style-primary-small-false-dark-mode-false-icon-position-no-icon2"
            >
              <div class="button2">Button</div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="list2">
            <div class="list-item4">
            
              <div class="text4">
                Atención al cliente disponible las 24 horas del día, los 7 días de
                la semana.
              </div>
            </div>
            <div class="list-item4">
             
              <div class="text4">Servicio rápido y confiable</div>
            </div>
            <div class="list-item4">
              
              <div class="text4">Recordatorios de mantenimiento regular</div>
            </div>
          </div>
        </div>
        <div class="content11">
          <div class="price-title">
            <div class="heading6">Plan de Empresas</div>
            <div class="lorem-ipsum-dolor-sit-amet">
              Ideal for medium to large businesses
            </div>
          </div>
          <div class="divider"></div>
          <div class="content10">
            <div class="container3">
              <div class="price">$29/men</div>
              <div class="price2"></div>
            </div>
            <div
              class="style-primary-small-false-dark-mode-false-icon-position-no-icon2"
            >
              <div class="button2">Button</div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="list2">
            <div class="list-item4">
             
              <div class="text4">Gerente de cuentas dedicado</div>
            </div>
            <div class="list-item4">
              
              <div class="text4">Servicio prioritario</div>
            </div>
            <div class="list-item4">
             
             
              <div class="text4">Planes de mantenimiento personalizados</div>
            </div>
            <div class="list-item4">
             
              <div class="text4">Descuentos en mejoras de equipo</div>
            </div>
            <div class="list-item4">
              
              <div class="text4">Informes de rendimiento periódicos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-7">
      <div class="container4">
        <div class="content12">
          <div class="button5">
            
          </div>
          <div class="content13">
            
            <div class="quote">
              Los servicios de reparación y mantenimiento de ATSAC han cambiado
              completamente el juego para nuestro negocio. Su experiencia y
              rapidez nos han ahorrado innumerables horas de tiempo de
              inactividad.
            </div>
            <div class="avatar">
              <img class="avatar-image" src="assets/avatar-image0.png" />
              <div class="avatar-content">
                <div class="text5">John Doe</div>
                <div class="text6">CEO, Company XYZ</div>
              </div>
            </div>
          </div>
          <div class="button5">
            
          </div>
        </div>
        <div class="slider-dots">
          <div class="dot"></div>
          <div class="dot2"></div>
          <div class="dot2"></div>
          <div class="dot2"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div
      class="cta-3"
      style="
        background: url(cta-30.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="column6">
        <div class="content2">
          <div class="heading7">
            Obtenga Mantenimiento Confiable de Equipos Tecnológicos
          </div>
          <div class="text7">
            ¡Inscríbete en un plan de mantenimiento hoy y asegura la longevidad de
            tu equipo tecnológico!
          </div>
        </div>
        <div class="actions2">
          <div
            class="style-primary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button2">Registrarse</div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-true-icon-position-no-icon"
          >
            <div class="button2">Contacto</div>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-1">
      <div class="container5">
        <div class="section-title4">
          <div class="heading5">Preguntas frecuentes</div>
          <div class="text8">
            Encuentra respuestas a preguntas comunes sobre nuestros servicios,
            proceso de registro y seguimiento del servicio.
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <div class="divider2"></div>
            <div class="title">
              <div class="question">¿Cómo me registro?</div>
             
            </div>
          </div>
          <div class="accordion-item">
            <div class="divider2"></div>
            <div class="title">
              <div class="question">¿Cómo puedo rastrear mi servicio?</div>
              
            </div>
          </div>
          <div class="accordion-item">
            <div class="divider2"></div>
            <div class="title">
              <div class="question">
                ¿Qué planes de mantenimiento están disponibles?
              </div>
              
            </div>
          </div>
          <div class="accordion-item">
            <div class="divider2"></div>
            <div class="title">
              <div class="question">¿Cómo puedo contactarte?</div>
            
            </div>
          </div>
          <div class="accordion-item">
            <div class="divider2"></div>
            <div class="title">
              <div class="question">¿Puedo cancelar mi servicio?</div>
          
            </div>
          </div>
          <div class="divider2"></div>
        </div>
        <div class="content14">
          <div class="content15">
            <div class="heading8">¿Todavía tienes preguntas?</div>
            <div class="text8">
              Contacta a nuestro equipo de soporte para obtener ayuda.
            </div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-22">
      <div class="row2">
        <div class="content3">
          
          <div class="contact-info">
            <div class="content16">
              <div class="heading9">Correo</div>
              <div class="text2">
                ATSAC se compromete a proporcionar un excelente servicio de
                atención al cliente. Puede contactarnos por correo electrónico,
                teléfono o chat en vivo para recibir asistencia.
              </div>
            </div>
            <div class="link">hello&#64;atsac.com</div>
          </div>
        </div>
        <div class="content3">
         
          <div class="contact-info">
            <div class="content16">
              <div class="heading9">Chat en vivo</div>
              <div class="text2">
                Chatea con nuestro equipo de soporte en tiempo real.
              </div>
            </div>
            <div class="link">Comenzar nuevo chat</div>
          </div>
        </div>
        <div class="content3">
        
          <div class="contact-info">
            <div class="content16">
              <div class="heading9">Teléfono</div>
              <div class="text2">
                Haz clic aquí para comenzar una nueva sesión de chat.
              </div>
            </div>
            <div class="link">+1 (555) 123-4567</div>
          </div>
        </div>
        <div class="content3">
         
          <div class="contact-info">
            <div class="content16">
              <div class="heading9">Office</div>
              <div class="text2">
                Nuestro equipo de soporte al cliente está disponible las 24 horas
                del día, los 7 días de la semana para ayudarte.
              </div>
            </div>
            <div class="link">123 Calle Principal, Lima, Perú</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-4">
      <div class="content17">
        <div class="logo3">
        
        </div>
        <div class="links">
          <div class="link-one2">Enlace Uno</div>
          <div class="link-two2">Enlace Dos</div>
          <div class="link-three2">Vínculo Tres</div>
          <div class="link-four2">Conexión Cuatro</div>
          <div class="link-five">Vinculo Cinco</div>
        </div>
        <div class="social-links">
         
        </div>
      </div>
      <div class="credits">
        <div class="divider3"></div>
        <div class="row3">
          <div class="_2023-relume-all-rights-reserved">
            © 2024 Carlos Cid. Todos los derechos reservados.
          </div>
          <div class="footer-links">
            <div class="privacy-policy">Política de privacidad</div>
            <div class="terms-of-service">Términos de servicio</div>
            <div class="cookies-settings">Configuración de Cookies</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  