<div class="about-us">

    <div class="header-47">
      <div class="content2">
        <div class="column3">
          <div class="tagline">Especialidad</div>
          <div class="short-heading-here">Reparación de Equipos Tecnológicos</div>
        </div>
        <div class="column4">
          <div
            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat"
          >
            Bienvenido a ATSAC, el principal proveedor de servicios de reparación
            y mantenimiento de equipos tecnológicos en Perú. Con nuestro equipo de
            técnicos capacitados y nuestras modernas instalaciones, estamos
            dedicados a brindar soluciones de reparación de primera calidad para
            todas sus necesidades tecnológicas.
          </div>
          <div class="actions2">
            <div
              class="style-primary-small-false-dark-mode-false-icon-position-no-icon"
            >
              <div class="button2">Aprender más</div>
            </div>
            <div
              class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
            >
              <div class="button">Registrarse</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-1">
      <div class="container2">
        <div class="content3">
          <div class="section-title">
            <div class="subheading">Especialización</div>
            <div class="content4">
              <div class="heading">
                Reparación de equipos tecnológicos para individuos y empresas
              </div>
              <div class="text">
                ATSAC tiene una historia rica, desde sus humildes comienzos hasta
                convertirse en un proveedor líder de servicios de reparación de
                equipos tecnológicos para particulares y empresas. Con un enfoque
                en la calidad y la satisfacción del cliente, hemos construido una
                reputación de excelencia en la industria.
              </div>
            </div>
          </div>
          <div class="actions3">
            <div
              class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
            >
              <div class="button">Aprende más</div>
            </div>
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Registrarse</div>
              
            </div>
          </div>
        </div>
        <img class="placeholder-image" src="assets/aboutus/placeholder-image0.png" />
      </div>
    </div>
    <div class="layout-26">
      <div class="container2">
        <div class="content3">
          <div class="content5">
            <div class="section-title">
              <div class="subheading">Especialización</div>
              <div class="content4">
                <div class="heading">
                  Entrega de reparación y mantenimiento de equipos tecnológicos de
                  calidad
                </div>
                <div class="text">
                  ATSAC ha servido a numerosos clientes, completando con éxito
                  reparaciones y operando durante varios años.
                </div>
              </div>
            </div>
            <div class="list">
              <div class="list-item">
                <div class="number">50%</div>
                <div class="text2">Clientes Atendidos</div>
              </div>
              <div class="list-item">
                <div class="number">50%</div>
                <div class="text2">Reparaciones exitosas</div>
              </div>
            </div>
          </div>
          <div class="actions3">
            <div
              class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
            >
              <div class="button">Aprende Más</div>
            </div>
            <div
              class="style-link-small-false-dark-mode-false-icon-position-trailing"
            >
              <div class="button">Regístrese</div>
              
            </div>
          </div>
        </div>
        <div class="placeholder-lightbox">
          
         
        </div>
      </div>
    </div>
    <div class="team-4">
      <div class="section-title2">
        <div class="subheading2">Excelencia</div>
        <div class="content6">
          <div class="heading">Conozca a Nuestro Equipo</div>
          <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
            Conozca a los miembros cualificados y dedicados de nuestro equipo.
          </div>
        </div>
      </div>
      <div class="content7">
        <div class="content8">
          <div class="row">
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image1.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">John Doe</div>
                  <div class="job-title">Gerente</div>
                </div>
                <div class="text2">
                  John es un gerente altamente experimentado con un fuerte enfoque
                  en la satisfacción del cliente.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image2.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">Jane Smith</div>
                  <div class="job-title">Técnico</div>
                </div>
                <div
                  class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique"
                >
                  Jane es una técnica experimentada que garantiza reparaciones
                  eficientes y confiables.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image3.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">David Johnson</div>
                  <div class="job-title">
                    Representante de Servicio al Cliente
                  </div>
                </div>
                <div class="text2">
                  David se dedica a proporcionar un servicio excepcional y
                  resolver las consultas de los clientes.
                </div>
              </div>
              <div class="social-icons">
              
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image4.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">Emily Davis</div>
                  <div class="job-title">Técnico</div>
                </div>
                <div class="text2">
                  Emily tiene un ojo agudo para los detalles y garantiza
                  diagnósticos y reparaciones precisos.
                </div>
              </div>
              <div class="social-icons">
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image5.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">Michael Wilson</div>
                  <div class="job-title">Gerente</div>
                </div>
                <div class="text2">
                  Michael lidera nuestro equipo con enfoque en eficiencia y mejora
                  continua.
                </div>
              </div>
              <div class="social-icons">
            
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image6.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">Sarah Thompson</div>
                  <div class="job-title">
                    Representante de Servicio al Cliente
                  </div>
                </div>
                <div
                  class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique"
                >
                  Sarah garantiza una experiencia del cliente sin contratiempos y
                  resuelve cualquier problema de forma rápida.
                </div>
              </div>
              <div class="social-icons">
                
              </div>
            </div>
            <div class="card">
              <img class="placeholder-image2" src="assets/aboutus/placeholder-image7.png" />
              <div class="content9">
                <div class="title">
                  <div class="name">Robert Anderson</div>
                  <div class="job-title">Técnico</div>
                </div>
                <div class="text2">
                  La experiencia de Robert le permite manejar reparaciones
                  complejas con precisión.
                </div>
              </div>
              <div class="social-icons">
               
              </div>
            </div>
          </div>
        </div>
        <div class="content10">
          <div class="content11">
            <div class="heading2">¡Estamos contratando!</div>
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-6">
      <div class="heading3">
        Reconocido por los principales líderes de la industria por su servicio
        excepcional
      </div>
      <div class="content12">
        <div class="row2">
          <div class="logo2">
          
          </div>
          <div class="logo2">
           
          </div>
          <div class="logo2">
           
          </div>
        </div>
        <div class="row2">
          <div class="logo2">
            
          </div>
          <div class="logo2">
            
          </div>
          <div class="logo2">
            
          </div>
        </div>
      </div>
    </div>
    <div class="logo-2">
      <div class="container3">
        <div class="heading4">
          Confiado por empresas de primera categoría en todo el mundo
        </div>
        <div class="content13">
         
        </div>
      </div>
    </div>
    <div class="career-10">
      <div class="section-title3">
        <div class="subheading3">Unirse</div>
        <div class="content6">
          <div class="open-positions">Vacantes actuales</div>
          <div class="text3">
            Explora nuestras ofertas de trabajo actuales y únete a nuestro equipo.
          </div>
        </div>
      </div>
      <div class="content14">
        <div class="content5">
          <div class="divider"></div>
          <div class="content10">
            <div class="job">
              <div class="job-title2">
                <div class="heading5">Ingeniero de Software</div>
                <div class="frame-1">
                  <div class="department">Ingeniería</div>
                </div>
              </div>
              <div class="text4">
                Estamos buscando un Ingeniero de Software habilidoso para unirse a
                nuestro departamento de Ingeniería.
              </div>
            </div>
            <div class="info">
              <div class="content15">
                
                <div class="text5">Lima</div>
              </div>
              <div class="content15">
               
                <div class="text5">Tiempo completo</div>
              </div>
            </div>
          </div>
          <div
            class="style-secondary-small-true-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
        <div class="content5">
          <div class="divider"></div>
          <div class="content10">
            <div class="job">
              <div class="job-title2">
                <div class="heading5">Diseñador de experiencia de usuario</div>
                <div class="frame-1">
                  <div class="department">Diseño</div>
                </div>
              </div>
              <div class="text4">
                Estamos buscando un talentoso Diseñador UX para unirse a nuestro
                equipo de Diseño.
              </div>
            </div>
            <div class="info">
              <div class="content15">
               
                <div class="text5">Lima</div>
              </div>
              <div class="content15">
                
                <div class="text5">Contrato</div>
              </div>
            </div>
          </div>
          <div
            class="style-secondary-small-true-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
        <div class="content5">
          <div class="divider"></div>
          <div class="content10">
            <div class="job">
              <div class="job-title2">
                <div class="heading5">Especialista en Marketing</div>
                <div class="frame-1">
                  <div class="department">Marketing</div>
                </div>
              </div>
              <div class="text4">
                Estamos contratando un Especialista en Marketing para unirse a
                nuestro equipo de Marketing.
              </div>
            </div>
            <div class="info">
              <div class="content15">
              
                <div class="text5">Lima</div>
              </div>
              <div class="content15">
               
                <div class="text5">A tiempo parcial</div>
              </div>
            </div>
          </div>
          <div
            class="style-secondary-small-true-dark-mode-false-icon-position-no-icon2"
          >
            <div class="button">Button</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-19">
      <div class="column5">
        <div class="content4">
          <div class="heading">Descubre Nuestros Servicios Técnicos Expertos</div>
          <div class="text">
            Experimenta servicios de reparación y mantenimiento confiables y
            eficientes para equipos tecnológicos.
          </div>
        </div>
        <div class="actions2">
          <div
            class="style-primary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button2">Explorar</div>
          </div>
          <div
            class="style-secondary-small-false-dark-mode-false-icon-position-no-icon"
          >
            <div class="button">Contacto</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-4">
      <div class="content16">
        <div class="logo14">
         
        </div>
        <div class="links">
          <div class="link-one2">Enlace Uno</div>
          <div class="link-two2">Enlace Dos</div>
          <div class="link-three2">Vínculo Tres</div>
          <div class="link-four2">Conexión Cuatro</div>
          <div class="link-five">Vincular Cinco</div>
        </div>
        <div class="social-links">
         
        </div>
      </div>
      <div class="credits">
        <div class="divider2"></div>
        <div class="row3">
          <div class="_2023-relume-all-rights-reserved">
            © 2024 Carlos Cid. Todos los derechos reservados.
          </div>
          <div class="footer-links">
            <div class="privacy-policy">Política de privacidad</div>
            <div class="terms-of-service">Términos de servicio</div>
            <div class="cookies-settings">Configuración de Cookies</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  